Here's a quick step-by-step demonstration on how to perform a RFM analysis that is a technique often using in marketing for customer segmentation.

In [1]:
# import python packages needed for this project
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
# read file
sales_data = pd.read_csv('/kaggle/input/sales-data-csv/sales_data.csv')

After reading the file, start with checking the dataset and perform any data cleaning or manipulating procedure where needed.

In [3]:
# check datatypes 
sales_data.dtypes

OrderNumber          object
Sales Channel        object
WarehouseCode        object
ProcuredDate         object
OrderDate            object
ShipDate             object
DeliveryDate         object
CurrencyCode         object
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Price          float64
Unit Cost           float64
dtype: object

In [4]:
# notice that the IDs are integers, and Date fields are objects
# convert ID fields to string(object) and Date fields to datetime
data_type = {
    '_SalesTeamID':str,
    '_CustomerID':str,
    '_StoreID':str,
    '_ProductID':str
}

sales_data = pd.read_csv('/kaggle/input/sales-data-csv/sales_data.csv', 
                         dtype=data_type, 
                         parse_dates=['ProcuredDate','OrderDate','ShipDate','DeliveryDate'])
sales_data.dtypes

OrderNumber                 object
Sales Channel               object
WarehouseCode               object
ProcuredDate        datetime64[ns]
OrderDate           datetime64[ns]
ShipDate            datetime64[ns]
DeliveryDate        datetime64[ns]
CurrencyCode                object
_SalesTeamID                object
_CustomerID                 object
_StoreID                    object
_ProductID                  object
Order Quantity               int64
Discount Applied           float64
Unit Price                 float64
Unit Cost                  float64
dtype: object

In [5]:
# copy dataset to use in analysis to prevent altering the original file
df = sales_data.copy()
df

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8,0.100,1822.4,1476.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,2020-09-26,2020-12-30,2021-01-07,2021-01-14,USD,9,41,339,29,1,0.075,234.5,121.940
7987,SO - 0008088,Online,WARE-NMK1003,2020-09-26,2020-12-30,2021-01-02,2021-01-04,USD,14,29,202,3,6,0.050,3202.6,1921.560
7988,SO - 0008089,Online,WARE-UHY1004,2020-09-26,2020-12-30,2021-01-23,2021-01-26,USD,14,32,241,35,5,0.200,3825.7,2792.761
7989,SO - 0008090,Online,WARE-NMK1003,2020-09-26,2020-12-30,2021-01-20,2021-01-25,USD,20,42,112,36,8,0.100,1072.0,804.000
7990,SO - 0008091,In-Store,WARE-UHY1004,2020-09-26,2020-12-30,2021-01-13,2021-01-19,USD,6,41,237,43,5,0.075,2211.0,1370.820

In [6]:
# revenue data missing
# calculate revenue for each transaction
df['Revenue'] = (df['Unit Price'] - (df['Unit Price'] * df['Discount Applied']) - df['Unit Cost']) * df['Order Quantity']
df

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Revenue
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5,0.075,1963.1,1001.181,4073.4325
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,196,27,3,0.075,3939.6,3348.660,886.4100
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,213,16,1,0.050,1775.5,781.220,905.5050
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,107,23,8,0.075,2324.9,1464.687,5486.7640
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8,0.100,1822.4,1476.144,1312.1280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,2020-09-26,2020-12-30,2021-01-07,2021-01-14,USD,9,41,339,29,1,0.075,234.5,121.940,94.9725
7987,SO - 0008088,Online,WARE-NMK1003,2020-09-26,2020-12-30,2021-01-02,2021-01-04,USD,14,29,202,3,6,0.050,3202.6,1921.560,6725.4600
7988,SO - 0008089,Online,WARE-UHY1004,2020-09-26,2020-12-30,2021-01-23,2021-01-26,USD,14,32,241,35,5,0.200,3825.7,2792.761,1338.9950
7989,SO - 0008090,Online,WARE-NMK1003,2020-09-26,2020-12-30,2021-01-20,2021-01-25,USD,20,42,112,36,8,0.100,1072.0,804.000,1286.4000
7990,SO - 0008091,In-Store,WARE-UHY1004,2020-09-26,2020-12-30,2021-01-13,2021-01-19,USD,6,41,237,43,5,0.075,2211.0,1370.820,3371.7750

In [7]:
# select only the columns needed for the analysis
# this helps to simplify the dataset and to read better
columns = ['OrderNumber', '_CustomerID','OrderDate','Revenue']
df_dataset = df[columns]

df_dataset.sort_values(by='OrderDate',ascending=False)

       OrderNumber _CustomerID  OrderDate    Revenue
7990  SO - 0008091          41 2020-12-30  3371.7750
7989  SO - 0008090          42 2020-12-30  1286.4000
7988  SO - 0008089          32 2020-12-30  1338.9950
7987  SO - 0008088          29 2020-12-30  6725.4600
7986  SO - 0008087          41 2020-12-30    94.9725
...            ...         ...        ...        ...
1      SO - 000102          20 2018-05-31   886.4100
5      SO - 000106          21 2018-05-31  2700.1000
6      SO - 000107          14 2018-05-31  1908.1600
7      SO - 000108           9 2018-05-31   998.6350
0      SO - 000101          15 2018-05-31  4073.4325

[7991 rows x 4 columns]

After all the cleaning and organizing, the dataset is ready to be used for the RFM analysis. But before we start performing the calculation, since the dates of the dataset is fairly old (the most recent year is 2020), it is better not to use today's date but rather setting a date that is relatively closer to the most recent date with the dataset to provide more accurate insights about this dataset. Thus, we'll start with defining "today's date" to '2021-01-01' and work from there.

In [8]:
# manually set the current date
today_date = pd.to_datetime('2021-01-01')

# calculate customer's recency, frequency, and monetary
rfm = df_dataset.groupby('_CustomerID').agg(
    Recency=('OrderDate', lambda v: (today_date - v.max()).days),
    Frequency=('OrderNumber', 'count'),
    Monetary=('Revenue', 'sum')
)

rfm.head(20)

             Recency  Frequency     Monetary
_CustomerID
1                  9        152  335933.6115
10                15        158  435122.1870
11                 6        178  487614.2415
12                 3        210  616719.2550
13                 4        171  441003.2795
14                 5        157  381450.0280
15                 4        142  441668.3550
16                 3        135  402938.7705
17                 6        175  534027.3860
18                 6        186  451637.7540
19                 3        165  443231.8335
2                  9        135  327409.1345
20                 9        167  439147.9490
21                 3        164  479383.0905
22                 4        140  401721.7825
23                12        164  449782.2895
24                23        151  352505.5255
25                 5        162  461601.9940
26                11        153  375766.6860
27                 3        144  336959.7835

In [9]:
# assign scores based on quantiles using 5 bins
r = pd.qcut(rfm['Recency'], q=5, labels=range(5,0,-1)) #score 1-5, more days gets lower score
f = pd.qcut(rfm['Frequency'], q=5, labels=range(1,6)) #score 1-5, the higher count gets higher score
m = pd.qcut(rfm['Monetary'], q=5, labels=range(1,6)) #score 1-5, the higher revenue gets higher score

rfm = rfm.assign(R_Score = r.values,
           F_Score = f.values,
           M_Score = m.values)

rfm['R-F-M'] = rfm[['R_Score','F_Score','M_Score']].apply(lambda v:'-'.join(v.astype(str)), axis=1)
rfm['RFM_total_score'] = rfm[['R_Score','F_Score','M_Score']].sum(axis=1)

rfm.sort_values(by='RFM_total_score', ascending=False).head(20)

,Recency,Frequency,Monetary,R_Score,F_Score,M_Score,R-F-M,RFM_total_score
_CustomerID,,,,,,,,
12,3,210,616719.2550,5,5,5,5-5-5,15
29,2,179,531770.6920,5,5,5,5-5-5,15
21,3,164,479383.0905,5,4,5,5-4-5,14
32,2,173,435206.0710,5,5,3,5-5-3,13
11,6,178,487614.2415,3,5,5,3-5-5,13
39,4,176,471608.1425,4,5,4,4-5-4,13
17,6,175,534027.3860,3,5,5,3-5-5,13
19,3,165,443231.8335,5,4,4,5-4-4,13
4,5,167,526981.0630,3,4,5,3-4-5,12
18,6,186,451637.7540,3,5,4,3-5-4,12
25,5,162,461601.9940,3,4,4,3-4-4,11
42,2,161,427159.6055,5,3,3,5-3-3,11
34,15,176,496418.6780,1,5,5,1-5-5,11
33,4,156,495444.2635,4,2,5,4-2-5,11
30,4,159,442372.3910,4,3,4,4-3-4,11
3,10,181,466220.1365,2,5,4,2-5-4,11
9,8,171,500166.4570,2,4,5,2-4-5,11
13,4,171,441003.2795,4,4,3,4-4-3,11
47,8,168,442845.8465,2,4,4,2-4-4,10
7,3,153,414155.9775,5,2,3,5-2-3,10